body{
font-family: Arial, Helvetica, sans-serif;
background:#f4f6f9;
margin:0;
padding:0;
text-align:center;
}

h1{
background:#003366;
color:white;
padding:20px;
margin:0;
}

.dashboard{
width:90%;
margin:40px auto;
}

.card-container{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-bottom:30px;
}

.card{
background:white;
padding:20px;
width:200px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.card h2{
margin:0;
color:#003366;
}

.card p{
font-size:28px;
font-weight:bold;
margin-top:10px;
}

button{
background:#0066cc;
color:white;
border:none;
padding:10px 15px;
border-radius:5px;
cursor:pointer;
}

/* button:hover */
button:hover {
    background:#004c99;
}

input, select{
padding:8px;
margin:10px;
border-radius:5px;
border:1px solid #ccc;
}

table{
width:100%;
border-collapse:collapse;
background:white;
box-shadow:0 3px 10px rgba(0,0,0,0.2);
margin-top:20px;
}

th, td{
padding:12px;
border-bottom:1px solid #ddd;
}

th{
background:#003366;
color:white;
}

/* tr:hover */
tr:hover {
    background: #f1f1f1;
}

.block-btn{
background:#dc3545;
}
